 {% load static %}
<!DOCTYPE html>
<html lang="en" class="openNav">

<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>CCV Dashboard</title>
<!-- main style file -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.10.3/xlsx.full.min.js"></script> -->
<script type="text/javascript"  src="{% static 'dist/js/xlsx.full.min.js' %}"></script>
<script src="{% static 'dist/js/xlsx.full.min.js' %}"></script>
<script  src="{% static 'dist/js/common.js' %}"></script>
<!-- <script  src="{% static 'dist/js/xlsx.js' %}"></script> -->
<!-- <script  src="{% static 'dist/js/jszip.js' %}"></script> -->
<!-- <script  src="{% static 'dist/js/jquery.min.js' %}"></script> -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- <script src="{% static 'dist/js/drag_drop_script.js' %}"></script> -->
<script>var csrftoken = '{{csrf_token}}';</script>
<!--  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/js/all.min.js"
      integrity="sha512-jAu66pqHWWQ564NS+m2Zxe13Yek98R7JWNjQLzW+PQ4i2jsMxBT1nGrQ0gFUIVJ4kPkEFe5gelBWNEDTBqmn/w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script> -->
<!-- main style file -->




<!-- sorting js files start here -->
<link rel="stylesheet" type="text/css" href="{% static 'dist/css/stylesheet.css' %} " media="screen">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'dist/css/github-dark.css' %} " media="screen"> -->
<!-- <script src="https://code.jquery.com/jquery-git1.min.js"></script> -->
<script src="{% static 'dist/js/jquery-sortable-lists.js' %} "></script>
<!-- sorting js files end here -->



<!-- Bootstrap CSS start-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="{% static 'dist/css/custom.css' %}" />
<link rel="stylesheet" href="{% static 'dist/css/jquery.multiselect.css' %}" />
<!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css"
      integrity="sha512-gMjQeDaELJ0ryCI+FtItusU9MkAifCZcGq789FrzkiM49D8lbDhoaUaIX4ASU187wofMNlgBJ4ckbrXM9sE6Pg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    /> -->
<!-- Bootstrap CSS end-->
<!-- drag and drop css added start  -->
<link rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
<!-- <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'> -->
<link rel="stylesheet" href="{% static 'dist/css/drag_drop_style.css' %}">
<!-- drag and drop css added end -->
<style>
.btn-default {
    border: solid 1px #ccc;
}
.new-wrapper {
    position: absolute;
    left: 50px;
    width: calc(100% - 50px);
    transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
    background-color: #ededed;
    min-height: 100vh;
    height: auto;
}

/*testing css*/
.dropdown-toggle {
    position: relative;
}

.dropdown-toggle::after {
    position: absolute;
    right: 12px;
    top: 13px;
}

.multiselect-container  > li {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 5px !important;
}

.multiselect-container  > li > a > label {
    padding: 0px !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.multiselect-container  > li > a > label > input {
    margin: 0px !important;
}

/*.multiselect.dropdown-toggle.btn {
    text-align: left;
    font-size:10px;
    height:30px;
    border-radius:0px;
    background-color:white;
    outline: none;
    border-color:black
    }


   .dropdown-menu{
       font-size:9px
    }
    .btn .caret {
    position: absolute;
    right: 10px;
    top: 10px;
    }*/
</style>
</head>

<body class="bg-light">
    <div class="primary-nav">
<!-- open close button -->
        <button href="#" class="hamburger open-panel nav-toggle active">
      <span class="screen-reader-text">Menu</span>
    </button>
     <nav role="navigation" class="menu">

            <a href="#" class="logotype">BSW <span>CrossDash</span></a>

            <div class="overflow-container">

                <div class="nav-side-menu">
                
                    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                  
                        <div class="menu-list">                  
                            <ul id="menu-content" class="menu-content collapse out">
                                <!-- <li  data-toggle="collapse" data-target="#products" class="collapsed">
                                  <a href="#">Contract<span class="arrow"></span></a>
                                </li> -->
                                <ul class="sub-menu collapse show" id="products">
                                    <li class="main collapsed" data-toggle="collapse" data-target="#getting">
                                      <a href="#">Database</a>
                                    </li>
                                    <!-- main menu start here -->
                                    <div id="display_leftside_menu">
                                   
                                    </div>
                                   
                                     <!-- main menu end here -->
                                </ul>
                            </ul>
                     </div>
                </div>

            </div>

        </nav>


       
    </div>



   
    <div class="new-wrapper">



        <div id="main">

             

            <div id="main-contents">

               <div class="row">
                   <div class="col-4">
                       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popup1">Data Upload</button>
                       <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popup2">Click Popup2</button> -->
                   </div>
               </div>
               <div id="json_resp" style="display:none;"></div>
                            
               <div style="display:none" id="mainsection_column_name_store" data-myval=''></div>
                <!-- <p class="text-md-left pt-3">Data Source : <span id="source_name" class="text-primary font-weight-bold">---</span></p> -->

                 <div class="row">
                    <div class="bg-white col p-3" style="background-color:lavender;">
                        <div class="form-inline">
                            <label for="example-post" class="mr-2">Base Filter</label>
                            <select id="basefilter" name="multiselect" multiple="multiple">
                               <!-- <option value="Gender" selected>Gender</option>
                                <option value="Region">Region</option>
                                <option value="Age_Group">Age_Group</option> -->
                            </select>
                        </div>
                    </div>
                </div> 

                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="accordion" id="accordionExample">
                            <div class="card row">
                                <div class="card-header d-flex" id="headingOne">
                                    <label for="example-post" class="mr-2">Select Table Name</label>    
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body" >
                                       <div class="menu-list" >
                                          <div id="dropzone" style="display: flex;"></div>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

               <div class="row mt-3">
                <!-- row section start -->
                <div class="col-6">
                    <div class="accordion" id="accordionExample">
                        <div class="card row">
                              <div class="card-header d-flex" id="headingOne">
                                <label for="example-post" class="mr-2">Row Section</label>
                                <label for="example-post" id="clear_all_row" class="m-2 mt-xl-1  badge badge-secondary">Clear All</label>
                                <!-- <div class="col">
                                     <div class="form-inline">
                                        <label for="example-post" class="mr-2">Row</label>
                                        <select id="rowfilter" name="multiselect[]" multiple="multiple">
                                        </select>
                                    </div>
                                </div> -->
                              </div>
                          
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body" >
                                  
                                   <div class="menu-list" id="row_section">
                                       <ul id="sTreePlus" class="sTreePlus mV10">
                                           <!--  <li><div>Item 1</div></li>
                                            <li><div>Item 2</div></li>
                                            <li><div>Item 3</div></li>
                                            <li><div>Item 4</div></li>
                                            <li><div>Item 5</div></li> -->
                                        </ul>
                                   </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <!-- row section end -->

                <!-- column section start -->
                <div class="col-6 ">
                    <div class="accordion" id="accordionExample">
                        <div class="card row">
                              <div class="card-header d-flex" id="headingOne">
                               <label for="example-post" class="mr-2">Column Section</label>
                               <label for="example-post" id="clear_all_column" class="m-2 mt-xl-1  badge badge-secondary">Clear All</label>
                               <!--  <div class="col">
                                    <div class="form-inline">
                                        <label for="example-post" class="mr-2">Column</label>
                                        <select id="columnfilter" name="multiselect[]" multiple="multiple">
                                        </select>
                                    </div>
                                </div> -->
                              </div>
                          
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body" >
                                   
                                  <div class="menu-list" id="column_section">
                                       <ul id="sTree2" class="sTree2 mV10">
                                           <!--  <li><div>Item 1</div></li>
                                            <li><div>Item 2</div></li>
                                            <li><div>Item 3</div></li>
                                            <li><div>Item 4</div></li>
                                            <li><div>Item 5</div></li> -->
                                        </ul>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <!-- column section end -->

             




            <div class="row">
                <div class="col-12 mt-4 text-right">
                    <button type="button" class="btn btn-primary" id="toArrBtn" > Go</button>
                    <!-- <button type="button" class="btn btn-primary" onclick="get_table_resp()"> Go</button> -->
                </div>
                
            </div>


               <!--  <section>
                <button type="button" class="btn btn-primary"  id="toArrBtn" class="btn">Array Data</button>
            </section>
 -->

            </div>
            </div>
            
        </div>


        <!-- ======================modal 1 ====================== -->  
 
       <!-- Modal -->
            <div class="modal" id="popup1" tabindex="-1" aria-labelledby="popup1Label" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="popup1Label">Upload Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <input type="file" class="custom-file-input"  id="docfile1">
                            <span  id="country_upload_file1"></span>
                            <button type="submit" id="Upload_data_btn" class="btn btn-light mt-2 mb-4">
                            <i class="fas fa-database"></i> Upload Data
                            </button>
                        </div>
                        <div class="pl-3">
                            <div class="form-group">
                                <label for="example-post" class="mr-2 mb-0">Data Type</label><br>
                                <select id="calculation_type" >
                                     <option value="respondent" selected>Respondent</option>
                                    <option value="response" >Response</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary" id="insert_data"  value="Save changes">Save changes</button> -->
                     <input type="button" class="btn btn-primary" id="insert_data"  value="Save changes" >
                    </div>
                </div>
                </div>
            </div>


        <!-- ==========================modal 2 ================================== -->
         <!-- Modal -->
  <div class="modal fade" id="popup2" tabindex="-1" role="dialog" aria-labelledby="popup2Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="popup2Label">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            modal data
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
          <!-- <input type="button" class="btn btn-primary" id="insert_data" > -->
        </div>
      </div>
    </div>
  </div>

        
<!-- Optional JavaScript -->
<script  src="{% static 'dist/js/main_dashboard.js' %}"></script>
<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script> -->
<script  src="{% static 'dist/js/popper.min.js' %}"></script>
<script  src="{% static 'dist/js/bootstrap.min.js' %}"></script>
<!-- Multi Select Css & JS Start -->
<script type="text/javascript" src="{% static 'dist/js/bootstrap-multiselect.min.js'  %}"></script>
<link rel="stylesheet" href="{% static 'dist/css/bootstrap-multiselect.css' %}">
<script type="text/javascript" src="{% static 'dist/js/bootstrap-multiselect.js' %}"></script>
<!-- drag and drop js start  -->
<script  src="{% static 'dist/js/jquery-ui.min.js'  %}"></script>
<!-- drag and drop js end -->
    <script>
        $('.nav-toggle').click(function(e) {
            e.preventDefault();
            $("html").toggleClass("openNav");
            $(".nav-toggle").toggleClass("active");

        });

        var ExcelToJSON = function() {

      this.parseExcel = function(file) {
        var reader = new FileReader();

        reader.onload = function(e) {
          var data = e.target.result;
          var workbook = XLSX.read(data, {
            type: 'binary'
          });
          workbook.SheetNames.forEach(function(sheetName) {
            // Here is your object
            var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
            var json_object = JSON.stringify(XL_row_object);
            console.log('data resp',JSON.parse(json_object));
            // localStorage.removeItem("upload-items");
            // localStorage.setItem('upload-items', json_object);


            // STORE JSON DATA IN INNER HTML 
            $('#json_resp').empty();
            var div = document.getElementById('json_resp');
            div.innerHTML = json_object;

            // // jQuery( '#xlx_json' ).val( json_object );
          })
        };

        reader.onerror = function(ex) {
          console.log(ex);
        };

        reader.readAsBinaryString(file);
      };
  };

  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object
    var xl2json = new ExcelToJSON();
    xl2json.parseExcel(files[0]);
  }
document.getElementById('docfile1').addEventListener('change', handleFileSelect, true);

document.getElementById('Upload_data_btn').addEventListener('click', openDialog);
function openDialog() {
  document.getElementById('docfile1').click();
}
// console.log('get url',window.location.href);
    </script>

    <script>
        $('#popup1').appendTo("body") 
        $('#popup2').appendTo("body") 

    </script>



<script>
    $(document).ready(function() {
         $('#rowfilter').multiselect({
            includeSelectAllOption: true,
            enableFiltering: false,
             maxHeight: 200,
              // widthSynchronizationMode: 'ifPopupIsWider',
            buttonWidth: '200px'
            // buttonContainer: '<div class="btn-group w-100" />'
        });
          $('#basefilter').multiselect({
            includeSelectAllOption: true,
            enableFiltering: false,
             maxHeight: 200,
              dropRight: true,
              widthSynchronizationMode: 'ifPopupIsWider',
            buttonWidth: '200px'
            // buttonContainer: '<div class="btn-group w-100" />'
        });
    //     var optgroups = [
    //     {
    //         label: 'Group 1', children: [
    //             {label: 'Option 1.1', value: '1-1', selected: true},
    //             {label: 'Option 1.2', value: '1-2'},
    //             {label: 'Option 1.3', value: '1-3'}
    //         ]
    //     },
    //     {
    //         label: 'Group 2', children: [
    //             {label: 'Option 2.1', value: '1'},
    //             {label: 'Option 2.2', value: '2'},
    //         ]
    //     }
    // ];
    // $('#basefilter').multiselect('dataprovider', optgroups);  
         
        $('#columnfilter').multiselect({
            includeSelectAllOption: true,
            buttonWidth: '100%',
            dropRight: false,
            enableFiltering: false,
            maxHeight: 200,
             widthSynchronizationMode: 'always',
            buttonWidth: '200px'
            // columns: 1,
                // placeholder: '--Select Col Type--',
            //     selectAll: true,
            //     search   : true,
            //     minHeight: 100
        });
    });
</script>
<script type="text/javascript">
$(function()
{
    var options = {
        placeholderCss: {'background-color': '#ff8'},
        hintCss: {'background-color':'#bbf'},
        onChange: function( cEl )
        {
            console.log( 'onChange' );
        },
        complete: function( cEl )
        {
            console.log( 'complete' );
        },
        isAllowed: function( cEl, hint, target )
        {
            // Be carefull if you test some ul/ol elements here.
            // Sometimes ul/ols are dynamically generated and so they have not some attributes as natural ul/ols.
            // Be careful also if the hint is not visible. It has only display none so it is at the previous place where it was before(excluding first moves before showing).
            if( target.data('module') === 'c' && cEl.data('module') !== 'c' )
            {
                hint.css('background-color', '#ff9999');
                return false;
            }
            else
            {
                hint.css('background-color', '#99ff99');
                return true;
            }
        },
        opener: {
            active: true,
            as: 'html',  // if as is not set plugin uses background image
            close: '<i class="fa fa-minus c3"></i>',  // or 'fa-minus c3'
            open: '<i class="fa fa-plus"></i>',  // or 'fa-plus'
            openerCss: {
                'display': 'inline-block',
                //'width': '18px', 'height': '18px',
                'float': 'left',
                'margin-left': '-35px',
                'margin-right': '5px',
                //'background-position': 'center center', 'background-repeat': 'no-repeat',
                'font-size': '1.1em'
            }
        },
        ignoreClass: 'clickable'
    };

    var optionsPlus = {
        insertZonePlus: true,
        placeholderCss: {'background-color': '#ff8'},
        hintCss: {'background-color':'#bbf'},
        opener: {
            active: true,
            as: 'html',  // if as is not set plugin uses background image
            close: '<i class="fa fa-minus c3"></i>',
            open: '<i class="fa fa-plus"></i>',
            openerCss: {
                'display': 'inline-block',
                'float': 'left',
                'margin-left': '-35px',
                'margin-right': '5px',
                'font-size': '1.1em'
            }
        }
    };

    $('#sTree2').sortableLists( options );
    $('#sTreePlus').sortableLists( optionsPlus );

    $('#toArrBtn').on( 'click', function(){ console.log( $('#sTree2').sortableListsToArray() ); } );
    $('#toHierBtn').on( 'click', function() { console.log( $('#sTree2').sortableListsToHierarchy() ); } );
    $('#toStrBtn').on( 'click', function() { console.log( $('#sTree2').sortableListsToString() ); } );
    $('.descPicture').on( 'click', function(e) { $(this).toggleClass('descPictureClose'); } );

    $('.clickable').on('click', function(e) { alert('Click works fine! IgnoreClass stopped onDragStart event.'); });

    /* Scrolling anchors */
    $('#toPictureAnch').on( 'mousedown', function( e ) { scrollToAnch( 'pictureAnch' ); return false; } );
    $('#toBaseElementAnch').on( 'mousedown', function( e ) { scrollToAnch( 'baseElementAnch' ); return false; } );
    $('#toBaseElementAnch2').on( 'mousedown', function( e ) { scrollToAnch( 'baseElementAnch' ); return false; } );
    $('#toCssPatternAnch').on( 'mousedown', function( e ) { scrollToAnch( 'cssPatternAnch' ); return false; } );

    function scrollToAnch( id )
    {
        return true;
        $('html, body').animate({
            scrollTop: '-=-' + $("#" + id).offset().top + 'px'
        }, 750);
        return false;
    }

});



</script>
</body>
 </html>